.calculator {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
   
    border: 1px solid #000;
   
}

#display {
    width: 85%;
    font-size: 1.5rem;
    text-align: left;
    padding: 10px;
    font-family: ‘Roboto’, sans-serif;
}
h1{
    font-family: Verdana;
    text-align: center;
}
.buttons {
    display: grid;
    color: white;
    grid-template-columns: repeat(4, 1fr);
 
}

button {
    padding: 10px;
    font-size: 1.2rem;
    color: white;
    background-color:black;
}

.twobutton {
    padding: 10px;
    font-size: 1.2rem;
    color: white;
    background-color:grey;
}

.threebutton {
    padding: 10px;
    font-size: 1.2rem;
    color: white;
    background-color:rgba(6, 128, 42, 0.247);
}
